<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Employee Management System</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

   {% load static %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  </head>

<body>
  {% include 'Navabar.html' %}
  <h1 class="text-center my-3">Employee Management System</h1>
  <h1 class="text-center my-3">Employee Details</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Employee ID</th>
                  <th>Email</th>
                  <th>Department</th>
                  <th>Address</th>
                  <th>Phone</th>
                  <th>Working</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for emp in emps %}
                <tr>
                  <td>{{ emp.Name }}</td>
                  <td>{{ emp.Emp_Id }}</td>
                  <td>{{ emp.Email }}</td>
                  <td>{{ emp.Department }}</td>
                  <td>{{ emp.Address }}</td>
                  <td>{{ emp.Phone }}</td>
                  <td>{{ emp.Working }}</td>
                  <td>
                   <a href="{% url 'delete_emp' emp.id %}" class="btn btn-danger btn-sm ">Delete</a>
                   <a href="{% url 'update_emp' emp.id %}" class="btn btn-primary btn-sm ">Update</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html>